<div class="container">
    <h1><%= @youtube_post.title %>を編集</h1>
    
    <%= render 'form', youtube_post: @youtube_post %>
    
    <%= link_to 'Show', @youtube_post %> |
    <%= link_to 'Back', youtube_posts_path %>
</div>