<% provide(:title, "Inquiry") %>
<div class= "container">
  <div class="page-header">
    <h1>お問い合わせ</h1>
  </div>
  <p>
    お問い合わせいただきありがとうございました。
  </p>
  
  <% if @inquiry.select == "仮入会希望" %>
    <%#= @user.line_id %>
    shibuchou
    <%= image_tag 'ayumi.jpg', class: "img-responsive center-block", :width => "260", :height => "auto" %>
  <% end %>
</div>