<% provide(:title, "About") %>
<% content_for :css do %>
  <%= stylesheet_link_tag 'abouts' %>
<% end %>
<div class="container about-container">
  <h1>明治大学アナウンス研究会とは？</h1>
  <table class="table">
      <tbody>
          <tr>
              <th>昼休練習（1.2年生対象）</th>
              <td>毎週月曜日～金曜日の昼休み(12：45～13：15)<br/>
                    主に和泉の第3校舎にて。発声練習や教本・アナウンステキストを練習します。<br/>
                    2年生が1年生に、楽しく優しく教えます。日々の積み重ねがアナウンス上達の近道！</td>
  
          </tr>
          <tr>
              <th>合同練習（1～3年生対象）</th>
              <td>水曜日 19:00～20:30<br/>
                    土曜日 15:20～17:00<br/>
                    主に和泉校舎で行っています。発声練習や教本はもちろんのこと、フリートーク練習や機材講習など様々な練習をしています。</td>
          </tr>
          <tr>
              <th>番組発表会</th>
              <td>番組発表会は和泉祭（初夏：6月頃）と駿台祭（冬：12月頃）の年2回！<br/>
                    日々の練習の成果を発表する舞台・・・それが番組発表会♪<br/>
                    ラジオDJやドラマ・バラエティのような映像番組はもちろん、声だけで役を演じるラジオドラマ、さらには漫才もできちゃう！！！！<br/>
                    関東に数ある放送系サークルの中で、最も「濃い？」番組ばかり☆<br/>

                    アナ研最大のイベント。毎年、明治大学駿河台校舎or和泉校舎or中野校舎で開催。</td>
          </tr>
          <tr>
              <th>合宿</th>
              <td>	春（3月）と夏（8月）の2回。 練習ガッツリ！レクやBBQ、肝試しなど遊びもガッツリ！！<br/>
                    想い出作りにピッタリなアナ研イベントの１つです。<br/>
                    練習はみんなで発声をした後、4つの部屋に分かれて練習。フリートークや原稿読み、ラジオドラマなどなど。<br/>
                    練習部長が色々な練習メニューを考えてきてくれます。<br/>
                    機材を持ち込んでの練習もあり。録音して聞き合ったりもします。<br/>
                    「行ってきます」から「ただいま」まで、すべてがあなたの想い出に。</td>
          </tr>
          <tr>
              <th>部室</th>
              <td>明治大学泉校舎第2学生会館4階</td>
          </tr>
      </tbody>
  </table>
  <div class="row">
    <div class="col-md-6">
      <%= image_tag 'lunprac.jpg', class: "img-responsive center-block", :width => '350', :height => 'auto' %></br>
      昼休練習の様子です。
    </div>
    <div class="col-md-6">
      <%= image_tag 'camp3.jpg', class: "img-responsive center-block",  :width => '350', :height => 'auto' %></br>
      合宿中の様子です。
    </div>    
  </div>
</div>
