<% provide(:title, "About") %>
<div class="container">
  <h1>明治大学アナウンス研究会とは？</h1>
  <table class="table">
      <tbody>
          <tr>
              <th>昼休練習（1.2年生対象）</th>
              <td>毎週月曜日～金曜日の昼休み(12：20～12：50)<br/>
                    主に和泉の第2校舎にて。発声練習や教本・アナウンステキストを練習します。<br/>
                    2年生が1年生に、楽しく優しく教えます。日々の積み重ねがアナウンス上達の近道！</td>
  
          </tr>
          <tr>
              <th>合同練習（1～3年生対象）</th>
              <td>水曜日 18:00～19:30<br/>
                    土曜日 14:40～17:00<br/>
                    主に和泉校舎で行っています。発声練習や教本はもちろんのこと、フリートーク練習や機材講習など様々な練習をしています。</td>
          </tr>
          <tr>
              <th>番組発表会</th>
              <td>番組発表会は和泉祭（初夏：6月頃）と駿台祭（秋：11月頃）の年2回！<br/>
                    日々の練習の成果を発表する舞台・・・それが番組発表会♪<br/>
                    DJや映像番組はもちろん、ラジオドラマから漫才まで？！<br/>
                    関東に数ある放送系サークルの中で、最も「濃い？」番組ばかり☆<br/>

                    アナ研最大のイベント。毎年、明治大学駿河台校舎or和泉校舎or中野校舎で開催。</td>
          </tr>
          <tr>
              <th>合宿</th>
              <td>	春（3月）と夏（8月）の2回。 昼間は大マジ、夜は大バカ…それがアナ研合宿。<br/>
                    想い出作りにピッタリなアナ研イベントの１つです。<br/>
                    練習はみんなで発声をした後、4つの部屋に分かれて練習。フリートークや原稿読み、ラジオドラマなどなど。<br/>
                    練習部長が色々な練習メニューを考えてきてくれます。<br/>
                    機材を持ち込んでの練習もあり。録音して聞き合ったりもします。<br/>
                    練習だけじゃなく企画が始まったり、レクをしたりと息抜き(?)の時間も全力で取り組むのがアナ研員です。</td>
          </tr>
          <tr>
              <th>部室</th>
              <td>明治大学泉校舎第2学生会館4階</td>
          </tr>
      </tbody>
  </table>
</div>
