// Place all the styles related to the about controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    text-align: center;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 4rem !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.about-container {
    height: calc(130vh - 60px);
}

th {
    font-size: 20px !important;
}

td {
    font-size: 15px !important;
}