// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
h1 {
    text-align: center;
}

.container {
    height: calc(100vh - 110px);
}

@media (max-width: 375px) {
    
    th {
        font-size: 1.5rem !important;
    }
    
    td {
        font-size: 8.5px !important;
    }
    
    h1 {
        font-size: 2.3rem !important;
    }
}