// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    margin: 0;
    padding: 0;
}

// h2 {
//     margin-top: 30px !important;
//     margin-bottom: 30px !important;
//     font-size: 3rem !important ;
//     text-align: center;
//     font-family: 'Kosugi Maru', sans-serif;
// }

// p {
//     font-size: 20px !important;
//     margin-top: 20px;
//     margin-bottom: 10px;
//     text-align: center;
//     font-family: 'Kosugi Maru', sans-serif ;
// }

// .text {
//     border: double;
//     border-bottom: transparent;
//     border-left: transparent;
//     border-right: transparent;
// }

.line {
    width: 64px;
    height: 0px;
    border: 1px solid rgb(118, 118, 118);
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 24px;
    margin-right: auto;
    margin-left: auto;    
}

.list-group-item {
    font-family: 'verdana', 'arial', 'helvetica', sans-serif ;
    font-size: 20px;
}

.space-96 {
    height: 96px;
    width: 100%;
}


.space-64 {
    height: 64px;
    width: 100px;
}

.space-32 {
    height: 32px;
    width: 100px;
}

.check {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 0px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;
    touch-action: manipulation !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    color: rgb(72, 72, 72) !important;
    padding: 10px 22px !important;
    font-weight: 800 !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(72, 72, 72) !important;
    background: transparent none repeat scroll 0% 0% !important;
    box-shadow: none !important;
    min-width: 71.1935px !important;
}

.quotation {
    font-size: 32px !important;
    line-height: 40px !important;
}    


/* conA: ヒーローイメージ*/

.conA {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
    min-height: 450px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(makbanner.JPG); */
    background-position: center;
    background-size: cover;
    color: #fff;
    color: var(--text-bright-color);
    text-align: center;
}
/* --- 全体のBOX定義 ---------------------------------------- */

/* --- 背景の指定 ------------------------------------------- */
.conA .bgImg {
    position   : absolute;
    top        : 0;
    left       : 0;
    bottom     : 0;
    right      : 0;
    opacity    : 0;
    animation  : bgAnime 18s infinite;   /* 4画像 × 各6s = 24s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.conA .src1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('makbanner.JPG');   /* 背景の画像を指定 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.conA .src2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('mixer.jpg');   /* 背景の画像を指定 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-delay  : 6s;
}
.conA .src3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('rdj.jpg');   /* 背景の画像を指定 */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    animation-delay  : 12s;
}
// .conA .src4 {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), image-url('mic.jpg');   /* 背景の画像を指定 */
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     animation-delay  : 18s;
// }

@keyframes bgAnime {
    0% { opacity: 0; }
    10% { opacity: 1; }
    25% { opacity: 1; }
    35% { opacity: 0; }
    100% { opacity: 0; }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.conA .logoh {
  position   : absolute;
  display    : inline-block;
  padding    : 20px;
  color      : #fff;
  top        : 50%;                               /* 中央寄せ */
  left       : 50%;
  transform  : translate(-50%,-50%);
  z-index    : 11;
}

.conA h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 3vw !important;
    letter-spacing: 0.1em;
    margin-left: 0.2em;
}

.conA .banner-text{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 25px !important;
    color: #FFF !important;
    border: 2px solid;
    font-weight: 600 !important;
}

.logo {
    width: 20%;
    min-width: 120px;
    min-height: 120px;
    max-height: 180px;
    max-width: 180px;
}

/* conB: ABOUT */


.conB .about-image{
    height: 516px;
    width: 516px;
}

.conB .text {
    padding: 20px;
}



.conB .about{
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.8;
    opacity: 0.8;
    text-align: center;
}

.conB .aboutlink{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    border: solid 3px currentColor;
    border-radius: 6px;
    background: #BF6A7A;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.conB .aboutlink:hover {
    background-image: linear-gradient(
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.2)
    );
}

/* conC: お知らせ*/


.conC-heading {
    margin-top: 60px;
}

// .conC h2 {
//     margin-top: 0;
//     margin-bottom: 20px;
//     font-size: 20px;
//     font-family: 'Kosugi Maru', sans-serif;
//     text-align: center;
// }

.conC .newslink{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 30px;
    // border: solid 3px currentColor;
    // border-radius: 6px;
    background: #BF6A7A;
    background-color: var(--accent-color);
    color: #fff;
    color: var(--text-bright-color);
    font-size: 14px;
    text-decoration: none;
}

.conC .newslink:hover {
    text-decoration: underline;
}

.conC li.borderless {
  border-top: 0 none;
}

.conC .icon{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 40px;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: #ddd;
    background-color: var(--icon-bk-color);
    color: #fff;
    color: var(--icon-color);
}

.conC .text{
    text-align: center;
}

.conC .list-group {
    font-size: 25px !important;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Kosugi Maru', sans-serif;
}

.conC .list-group-item {
    padding-top: 20px;
}

/* conD*/



.conD .text {
    font-size: 16px ;
}

// @media (min-width: 768px) {
    
//     .conA h1 {
//         font-size: 50px;
//     }
    
//     .conA p {
//         font-size: 24px;
//     }

//     .conB {
//         // background-color: #444444;
//         // color: #fff;
//         // color: var(--text-bright-color);
//         width: 100%;
//         padding: 20px 20px;
//         height: 800px;
    
//     }

//     .conC {
//         padding-bottom: 10px;
//         height: 100vh ;
//     }
    
//     .conD {
//         padding: 10px 0px;
//         height: calc(100vh - 80px);
//     }    
    
//     .conC .container {
//         display: flex;

//     }
    
//     .conC .image {
//         flex: 3;
//     }
    
//     .conC .text {
//         flex: 2;
//         padding: 50px;
//     }
    
//     .interview-image {
//         width: 516px;
//         height: 516px;
//     }
// }

@media (max-width: 768px) {
    .interview-image {
        width: 100vw;
        height: 100vh;
    }
    
    .check {
        margin: 20px !important;
    }
    
    .space-96 {
        height: 48px;
        width: 100%;
    }
    
    
    .space-64 {
        height: 32px;
        width: 100px;
    }
    
    .space-32 {
        height: 16px;
        width: 100px;
    }
    
    h2 {
        margin-top: 26px;
        font-size: 35px !important;
        margin-bottom: 32px !important;
    }
    
    .conB {
        // background-color: #444444;
        // color: #fff;
        // color: var(--text-bright-color);
        width: 100%;
        padding: 20px 20px;
        height: 800px;
    
    }
    

    .conC {
        padding-bottom: 10px;
        height: calc(100vh - 110px) ;
    }
    
    .conD {
        padding: 10px 0px;
        height: calc(100vh - 110px);
    }    

}

