@charset "UTF-8";
main {
  // height: calc(100vh - 50px);
  min-height: calc(100vh - 76px);//0409修正
  padding-top: 60px;
}

:root {
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-bk-color: #ddd;
  --accent-color: #BF6A7A;
  --main-color: #FBF9ED;
}

h2 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    font-size: 3rem !important ;
    text-align: center;
    font-family: 'Kosugi Maru', sans-serif;
}

p {
    font-size: 20px !important;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Kosugi Maru', sans-serif ;
}

th {
    font-size: 15px !important;
    font-family: 'Kosugi Maru', sans-serif;
}

footer {
  height: 60px;
  background-color: #242424;
  color: #fff;
  
}

.footer-item {
  margin-top: 10px !important;
  text-align: center;
}

.bg-home {
  background-color: #fff;
}

.container-fluid {
  padding: 0px !important;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #242424;
  color: #fff !important;
}
 
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.carousel{
  min-height: 180px;
}

.carousel-item img {
    height: 30vh;
}

body {
    margin: 0;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 15px;
    padding: 0;
    background-color: #FBF9ED !important;
}

.container-fluid {
  padding: 0;
}

header {
  height: 60px;
}