@charset "UTF-8";
main {
  // height: calc(100vh - 50px);
  min-height: calc(100vh - 76px);//0409修正
  padding-top: 60px;
  font-family: 'Kosugi Maru', sans-serif;
}

:root {
  --text-bright-color: #fff;
  --icon-color: #fff;
  --icon-bk-color: #ddd;
  --accent-color: #BF6A7A;
  --main-color: #FBF9ED;
}

// h2 {
//     margin-top: 30px !important;
//     margin-bottom: 30px !important;
//     font-size: 3rem !important ;
//     text-align: center;
//     font-family: 'Kosugi Maru', sans-serif;
// }

// p {
//     font-size: 20px !important;
//     margin-top: 20px;
//     margin-bottom: 10px;
//     text-align: center;
//     font-family: 'Kosugi Maru', sans-serif ;
// }

h3 {
    font-weight: 800 !important;
    line-height: 1.25em !important;
    color: rgb(72, 72, 72) !important;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    margin: 0px !important;
    font-size: 24px !important;
}

p {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    overflow-wrap: break-word !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 1.75em !important;
    color: rgb(72, 72, 72) !important;
}

h2 {
    font-size: 50px !important;
    line-height: 64px !important;
    letter-spacing: -2.5px !important;
    font-weight: 900 !important;
    color: rgb(51, 51, 51) !important;
    text-align: center;
    margin-bottom: 64px !important;
}

th {
    font-size: 20px !important;
    font-family: 'Kosugi Maru', sans-serif;
}

td {
    font-family: 'verdana', 'arial', 'helvetica', sans-serif ;
    font-size: 20px !important;
    padding-top: 20px;
    padding-bottom: 7.5px;
}

footer {
  height: 60px;
  background-color: #242424;
  color: #fff !important;
  
}

.footer-item {
  margin-top: 10px !important;
  text-align: center;
}

.bg-home {
  background-color: #fff;
}

.container-fluid {
  padding: 0px !important;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgb(247, 247, 247) !important;
  border-top: 1px solid rgb(221, 221, 221) !important;
}
 
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.carousel{
  min-height: 180px;
}

.carousel-item img {
    height: 30vh;
}

body {
    margin: 0;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 15px;
    padding: 0;
    background-color: #FFF !important;
}

.container-fluid {
  padding: 0;
}

header {
  height: 80px;
}