// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    margin: 0;
    font-family: 'メイリオ',
        'Hiragino Kaku Gothic Pro',
        sans-serif !important;
    font-size: 15px !important;
    padding: 0;
}

h2 {
    font-style: bold !important;
}

.user-info {
    border: solid 2px;
    border-radius: 25px;
}

.user-left h2 {
    padding: 10px;
}

.user-left h3 {
    padding: 10px !important;
    font-size: 13px !important;
    font-weight: 400 !important;
}

.user-left {
    border: solid 2px;
    text-align: center;
}

// .user-table {
//     font-size: 62.5% !important;
//     font-family: 'Kosugi Maru', sans-serif;
// }

.profile-edit {
    display: inline-block;
    border: 2px solid rgb(119, 119, 119);
    font-size: 1.4rem;
    padding: 4px 10px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    background-color: rgb(119, 119, 119);
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 10px;
    
    a {
        color: #fff !important;
    }
}

.check {
    cursor: pointer !important;
    display: inline-block !important;
    margin: 10px !important;
    position: relative !important;
    text-align: center !important;
    text-decoration: none !important;
    width: auto !important;
    touch-action: manipulation !important;
    font-size: 16px !important;
    line-height: 24px !important;
    letter-spacing: normal !important;
    color: rgb(72, 72, 72) !important;
    padding: 10px 22px !important;
    font-weight: 800 !important;
    border-radius: 4px !important;
    border-width: 2px !important;
    border-style: solid !important;
    border-color: rgb(72, 72, 72) !important;
    background: transparent none repeat scroll 0% 0% !important;
    box-shadow: none !important;
    min-width: 71.1935px !important;
}

@media(max-width: 375px) {
    .user-left {
        margin: 0 10px 10px 10px;
    }
}