// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    margin: 0;
    font-family: 'メイリオ',
        'Hiragino Kaku Gothic Pro',
        sans-serif !important;
    font-size: 15px !important;
    padding: 0;
}

h2 {
    font-style: bold !important;
}

.user-info h2 {
    padding: 10px;
}

.user-info h3 {
    padding: 10px;
}
