<footer class="footer">
  <div class="col-md-4">
    <p class="text-muted text-center py-2">twitter icon</p>
  </div>
  <div class="col-md-8">
    <p class="text-muted text-center py-2">明治大学アナウンス研究会</p>
  </div>
</footer>